TARGET_URL="https://www.justeat.it/en/courier/form?city=[CITY_NAME]"
CHECK_INTERVAL_MS=300000
PORT=8080
TELEGRAM_BOT_TOKEN="BOT_TOKEN_HERE"
TELEGRAM_CHAT_ID="CHAT_ID_HERE"
TARGET_VEHICLES="Driver Bike,Company Bike,Driver E-Bike,Company E-Bike"